@font-face{
    font-family: 'Myriad Pro Semibold';
    src:url("..fonts/Myriad Pro Semibold.ttf");
}

html {
  width: auto;
  position: relative;
  margin: 0 auto;
  font-family: 'Myriad Pro Semibold';
  background-image: url(../image/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header, .article, .news {
  background-color: #ffffff;
}

header {
  height: 90px;
  border-bottom: 2px solid #5b5b5b;
}

footer {
  background-color: #adadad;
}

body {
  margin: 0;
  /* max-width: 1350px; */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  width: 650px;

}

h1, h2, h3, h4 {
  margin-top: 0;
}

h1 {
  font-family: 'NewsGoth BdXCn BT';
  font-size: 27.47px;
}
h1, h4 {
  margin-bottom: auto;
}

h4 {
  font-family: 'Avian', 'Regular';
  font-size: 9.62px;
  font-weight: 200;
  color: #aca6a6;
  margin-top: -6px;
  margin-left: 2px;
}

h2 {
  font-family: 'Avian', 'Regular';
  font-weight: 200;
  font-size: 14px;
  padding: 22px 0px 5px 29px;
  color: black;
}


span.price {
  padding: 0;
  background: black;
  font-size: 26px;
  font-family: 'Helvetica LT Std';
  margin-left: 29px;
  margin-bottom: 48px;
  display: inline-block;
  padding-left: 3px;
  padding-right: 2px;
}

.image_plan {
  display: inline-block;
  margin-top: -60px;
  margin-bottom: -10px;
}

h3 {
  font-family: 'Myriad Pro', 'Semibold';
  font-size: 16px;
  color: #ff6f00;
  text-shadow: 1px 1px 1px #c8c9c9;

}

p {
  line-height: 5px;
  font-size: 10px;
  margin-left: 29px;
}

hr {
 margin: 0;
 padding: inherit;
}

.header {
 margin-top: 20px;
 padding-top: 28px;
 padding-left: 28px;
}

.business {
  color: #5b5b5b;

}

.container {
  background-image: url(../images/back_container.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.plan {
  color: white;
  display: inline-block;
  border-width: 0 1px 0 0;/*толщина*/
  border-style: solid;
  padding-right: 10px;/*отступ справа*/
}

nav {
  background-color: #5b5b5b;
  width: 650px;
  margin: 0 auto;
  padding: 0;
}

nav:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
}

a {
  color: #dedede;
  display: block;
  height: 54px;
  padding: 0 15px;
  text-decoration: none;
  line-height: 54px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 54px;
}

ul li {
  float: left;
}

.article {
  grid-area: a;
}

.articles {
  grid-area: b;
}

.news {
  grid-area: c;
}

.grid {
  display: grid;
  grid-template-areas: "a a c"
                       "b b c"
}

.footer, .link {
  margin: 0;
}
